.App {
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}

message-container {
  background-color: white;
  height: 95%;
  width: 95%;
  display: grid;
  grid-template-rows: 1fr auto;
}